.box {
    background-color: red;
    width: 100px;
    height: 100px;

}

.box2 {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: 50px;
    top: 50px;
}

.box3 {
    background-color: green;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}