.box {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: box-moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 15px;
}

@keyframes box-moving {
    25% {
        transform: translate(0, 300px);
        background-color: blueviolet;
    }

    50% {
        transform: translate(300px, 300px);
        background-color: orange;
    }

    75% {
        transform: translate(300px, 0);
        background-color: blueviolet;
        border-radius: 50%;
    }
}