.box {
    height: 1000px;
    /* display: flex; */
    background-color: grey;
    padding: 200px 500px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
    animation-name: run-circle;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes run-circle {
    0% {
        left: 0;
    }

    25% {
        left: 800px;
        background-color: blue;
    }

    50% {
        background-color: black;
    }
    75%{
        
    }
    100% {
        left: 0;
    }
}